body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../img/bg3.jpg");
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/bg3.jpg");
    background-repeat: repeat;
    background-size: cover;

}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}

#progress {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f2f0f0;
    border-top: 16px solid #f02457;
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.card, .card img{
    width: 100%;
}
