body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../img/bg3.jpg");
    background-repeat: repeat;
    background-size: cover;

}

#progress {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f2f0f0;
    border-top: 16px solid #f02457;
    border-radius: 50%;
    width: 130px;
    height: 130px;
}