body, html {
    height: 100%;
}

.bg {
    background-image: url("../img/table1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

@media (max-width: 768px) {
    .bg{
        background-image: url("../img/recipebg.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }

}

#modal-submit {
    background-color: #df234b;

}
 
.nav>li>a.active,
.nav>li>a:hover,
.nav>li>a:focus {
    background-color:#2E2E2E;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    color: white;
    margin-right: 15px;  
}

.nav>li>a {
    font-size: 15px; 
    color: rgb(143, 143, 143);

}

.state label {
    color:  rgb(143, 143, 143);
}

span img{
    cursor: pointer;
    margin-left: 30px;
}
